VITE_API_URL=
VITE_SOCKET_URL=
VITE_LOGIN_URL=/api/user/login
VITE_REGISTER_URL=/api/user
VITE_AUTH_URL=/api/user/me
VITE_LOGOUT_URL=/api/user/logout

# Example values for local development:
# VITE_API_URL=http://localhost:8000
# VITE_SOCKET_URL=http://localhost:8000